.input-form {
  max-width: max-content;
  margin: auto;
}

.input-form .input-box {
  background-color: beige;
  border-radius: 5px;
  padding: 0.5rem;
  width: 20rem;
  height: 2rem;
  margin: 0.5rem;
}

.input-box:focus {
  outline: none;
}
